.parent {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.dash1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  align-items: center;
  gap: 20px;
}

.child {
  background: var(--third);
  width: 290px;
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column; /* عرض المحتوى بشكل عمودي */
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظل للكارد */
  transition: transform 0.3s ease; /* تأثير الحركة وقت امرر بالفأرة */
}

.child:hover {
  transform: scale(1.05); /* تكبير الكارد شوية لما امر بالفأرة */
}

.icon i {
  font-size: 2rem;
  color: #4CAF50;
  margin-bottom: 10px;
}

.info_card .title h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 5px 0;
}

.info_card .num h4 {
  font-size: 2rem; /* تكبير حجم الرقم */
  color: #4CAF50; /* نفس لون الأيقونة */
  margin: 0;
}

// تعديل على حجم الداش بورد

.dash2{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
}
.child1{
  margin: 20px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.info_card{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
