<div class="parent">

  <div class="dash1">

    <div class="child" *ngFor="let i of arr_dash">

      <div class="icon">
        <i [class]="i.icon"></i>
      </div>

      <div class="info_card" >
        <div class="title">
          <h3>{{i.title}}</h3>
        </div>
        <div class="num">
          <h4>{{i.num}}</h4>
        </div>
      </div>

    </div>

<!-- <div *ngFor="let i of arr_dash">
      <div>{{i.info_card}}</div>
      <div>{{i.num}}</div>

</div> -->

  </div>

  <div class="dash2">
    <div class="child1">item5</div>

    <div class="child1">item6</div>
  </div>
</div>
