<div class="root">

<div class="container w-100 ">

<div class="form-container sign-in-container">
  <form action="#">
    <h1>تسجيل الدخول</h1>
    <br>
    <h6>أدخل البريد الالكتروني وكلمة المرور الخاصة بك لتسجيل الدخول</h6>
    <br>
    <input type="email" placeholder="البريد الاكتروني" />
    <input type="password" placeholder="كلمة المرور" />
    <a href="#">هل نسيت كلمة المرور؟</a> <!--بعدين نضيف الرابط-->
    <button>تسجيل الدخول</button>
  </form>
</div>



<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-right">
      <img src="../../../assets/________-01.png" alt="ghdaf Logo" width="150">
      <h2>اهلا بك في منصة غدف</h2>
    </div>
  </div>
</div>
</div>


</div>

<!-- <footer>
<p>
  Created with <i class="fa fa-heart"></i> by
  <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
  - Read how I created this and how you can join the challenge
  <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
</p>
</footer> -->

