<div class="root">

  <div class="container w-100 ">

    <div class="form-container sign-in-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <img src="../../../assets/________-01.png " alt="ghdaf Logo" width="170" height="100">
          <h2>اهلا بك في منصة غدف</h2>
        </div>
      </div>
    </div>



    <div class="overlay-container form">

      <h1>تسجيل الدخول</h1>
      <h6>أدخل البريد الالكتروني وكلمة المرور الخاصة بك لتسجيل الدخول</h6>
      <br>
      <input [(ngModel)]="login_form.email" type="email" placeholder="البريد الاكتروني" />
      <!-- <p *ngIf="expression"></p> -->
      <input [(ngModel)]="login_form.password" type="password" placeholder="كلمة المرور" />
      <a href="#">هل نسيت كلمة المرور؟</a> <!--بعدين نضيف الرابط-->
      <button (click)="open_modal(otp_popup)">تسجيل الدخول</button>
      <a routerLink="/auth/sign-up"> ليس لديك حساب؟ انشاء حساباً</a> <!--بعدين نضيف الرابط-->


    </div>





    <ng-template #otp_popup let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">OTP</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div style="display: flex;justify-content: center;">
          <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="login() ">إرسال</button>



      </div>
    </ng-template>
