<div class="all" >
<section class="step-wizard">
    <ul class="step-wizard-list">
        <li class="step-wizard-item">
            <span class="progress-count">1</span>
            <span class="progress-label">تم عرض الطلب &nbsp;&nbsp;&nbsp;<i class="bi bi-box2-heart"style="font-size: 25px;"></i></span>
        </li>
        <li class="step-wizard-item current-item">
            <span class="progress-count">2</span>
            <span class="progress-label"> تم الدفع للطلب&nbsp;&nbsp;&nbsp;<i class="bi bi-cash" style="font-size: 30px;"></i></span>
        </li>
        <li class="step-wizard-item">
            <span class="progress-count">3</span>
            <span class="progress-label">تم تجهيز الطلب&nbsp;&nbsp;<i class="bi bi-box2" style="font-size: 25px;"></i></span>
        </li>
        <li class="step-wizard-item">
            <span class="progress-count">4</span>
            <span class="progress-label">تم تسليم الطلب للمندوب&nbsp;&nbsp;<i class="bi bi-truck" style="font-size: 30px;"></i></span>
        </li>
    </ul>
  </section>
  
   
   <div    class=" aal">
  <table>
      <thead>
        <tr>
          <th>حذف</th>

          <th>الكمية </th>
          <th>اسم المنتج</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button  >
            <i class="bi bi-trash"></i>  
          </button></td>
          <td>Data 1</td>
          <td>Data 2</td>

         
        </tr>
        </tbody>
    </table>
    <button class="class-button" >
      <a routerLink ="/main-apps/rest-orders/new-order">  احذف الطلب</a>  
    </button>
  </div>
  
</div>