<div class="container mt-4" dir="rtl">

  <h2>المستخدمين</h2>

  <table dir="rtl">
    <tr>
      <th class="color-had">نوع المستخدم</th>
      <th class="color-had">اسم المنصة</th>
      <th class="color-had">اسم مسؤول المنصة</th>
      <th class="color-had">رقم الهاتف</th>
      <th class="color-had">عرض التفاصيل</th>
      <th class="color-had">التفعيل</th>
      <!-- <th class="color-had">العمر</th> -->
    </tr>

    <tr *ngFor="let i of arr_userTable">
      <td>{{i.user_type}}</td>
      <td>{{i.platform_name}}</td>
      <td>{{i.admin_name}}</td>
      <td>{{i.num}}</td>

      <td><a  (click)="openModal(content)"><i class="bi bi-eye " style="cursor: pointer;"></i></a></td>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">معلومات المستخدم</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">حفظ</button>
        </div>
      </ng-template>

      <td>
        <label class="toggle-switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
      </td>
      <!-- <td>{{i.age}}</td> -->
    </tr>
    <!-- اول صف-->
