
<div style="margin-top: 5px; padding-top: 2px;">


    <div class="container rounded  mt-5 mb-5 " style="direction: rtl;background-color: #f8f7f5aa;">
  <form >

    <label for="country">نوع التذكرة </label>
    <select id="type" name="type"  (change)="selectType($event.target.value)">
      <option value="1">   بخصوص طلب</option>
      <option value="2"> اخرى</option>
    </select>

    <div id="order" class="hiddin">
      <span  [ngClass]="type  ? 1 : 2">
      <label class="ddd" for="fname" type="text" id="lname" name="lastname" placeholder="" *ngIf="type == '2'" class="hid">رقم الطلب</label>
      <label    class="ddd"   for="fname" type="text" id="lname" name="lastname" placeholder="" *ngIf="type == '1'" class="ves">  عنوان التذكرة</label>
        <input   class="ddd"  type="text" id="lname" name="lastname" placeholder="" *ngIf="type == '2'" class="hid" >
        <input   class="ddd"  type="text" id="lname" name="lastname" placeholder="" *ngIf="type == '1'" class="ves" >

    <!-- <input type="text" id="fname" name="firstname" placeholder="">-->
  </span>
  </div>

    <div id="other">
    <label for="lname">  عنوان التذكرة</label>
    <input type="text" id="lname" name="lastname" placeholder="">
  </div>


    <label for="subject"> الوصف</label>
    <textarea id="subject" name="subject" placeholder="ادخل وصف التذكرة" style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
</div>

