<div class="container g-4" dir="rtl">

  <h2> طلبات السحب من المحفظة </h2>

  <table dir="rtl">
    <tr>
      <th class="color-had">اسم المطعم</th>
      <th class="color-had">رقم الهاتف</th>
      <th class="color-had">رصيد المحفظة</th>
      <th class="color-had">رقم المحفظة</th>
      <th class="color-had">قبول</th>
      <th class="color-had">رفض</th>
    </tr>

    <tr *ngFor="let i of updateWallet">
      <td>{{i.company_name}} </td>
      <td>{{i.phone}} </td>
      <td>{{i.wallet_amount}} </td>
      <td>{{i.wallet_id}} </td>

      <td><a  (click)="gitWalletApproved(i)"><i class="bi bi-check2-square" style="cursor: pointer;"></i></a></td>
      <td><a  (click)="gitWalletRejected(i)"><i class="bi bi-x-square" style="cursor: pointer;"></i></a></td>
    </tr>
    <!-- اول صف-->

  </table>



</div>
