h2{
  text-align: center;
  font-size: xx-large;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;


}
input{
  border: 0;
}

i{
  font-size: 30px;
  color: var(--icons);

}

.color-had{
  background: var(--secondary);
}

table,th,td{
  border: 5px solid var(--bg-base);

}

th,td
{
  padding: 10px;
  text-align: center;
  background: var(--third);

}
.input_err {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
}
.modal-header{
  background: var(--secondary);
}



