<div class="container g-4" dir="rtl">

  <h2> طلبات السحب من المحفظة </h2>

  <table dir="rtl">
    <tr>
      <th class="color-had">اسم المطعم</th>
      <th class="color-had">رقم المحفظة</th>
      <th class="color-had">رصيد المحفظة</th>
      <th class="color-had">رقم الهاتف</th>
      <th class="color-had">قبول</th>
      <th class="color-had">رفض</th>
    </tr>

    <tr *ngFor="let i of arr_wallet">
      <td>{{i.rest_name}} </td>
      <td>{{i.wallet_num}} </td>
      <td>{{i.wallet_balance}} </td>
      <td>{{i.num}} </td>
      <td><a  (click)="openModal(content)"><i class="bi bi-check2-square" style="cursor: pointer;"></i></a></td>
      <td><a  (click)="openModal(contentx)"><i class="bi bi-x-square" style="cursor: pointer;"></i></a></td>
    </tr>
    <!-- اول صف-->

  </table>

  <!-- الموافقة -->
  <ng-template #content let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">تم قبول طلب العميل</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">


    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark ed_btn" (click)="modal.close('Save click')">حفظ</button>
    </div>
  </ng-template>

<!-- الرفض -->
  <ng-template #contentx let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">سبب الرفض</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <input class="input_err" type="text" id="input_err" placeholder="ادخل سبب الرفض" dir="rtl">

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark ed_btn" (click)="modal.close('Save click')">حفظ</button>
    </div>
  </ng-template>

</div>
