<div class="root">

    <div class="container w-100 ">

      <div class="form-container sign-in-container">
        <form action="#">
          <br>
          <br>
          <h1 style="padding: 50px;">انشاء حساب</h1>
          <h6>أدخل البريد الالكتروني وكلمة المرور الخاصة بك لتسجيل الدخول</h6>
          <br>
          <div class="signup-big">

            <input type="email" placeholder="البريد الاكتروني">
            <input type="password" placeholder="كلمة المرور" />
            <input type="email" placeholder="البريد الاكتروني">
            <input type="password" placeholder="كلمة المرور" />
            <input type="email" placeholder="البريد الاكتروني">
            <input type="password" placeholder="كلمة المرور" />
            <input type="email" placeholder="البريد الاكتروني">
            <input type="password" placeholder="كلمة المرور" />
            <input type="email" placeholder="البريد الاكتروني">
            <input type="password" placeholder="كلمة المرور" />
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile02">

            </div>
          </div>
          <a href="#">هل نسيت كلمة المرور؟</a> <!--بعدين نضيف الرابط-->
          <button>تسجيل الدخول</button>
          <a href="#"> هل لديك حساب؟ تسجيل الدخول</a> <!--بعدين نضيف الرابط-->
        </form>
      </div>



      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <img src="../../../assets/________-01.png" alt="ghdaf Logo" width="150">
            <h2>اهلا بك في منصة غدف</h2>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- <footer>
  <p>
    Created with <i class="fa fa-heart"></i> by
    <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
    - Read how I created this and how you can join the challenge
    <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
  </p>
  </footer> -->
