<div class="container mt-4">

  <h2> طلب تغيير المستندات الرسمية </h2>


  <div class="search-container">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="ابحث عن اسم المنصة....." dir="rtl">
    <select  class="typ_status" (change)="filter_by_type($event.target.value)">
      <option value="">اختر نوع المستندت</option>
      <option value="">الكل</option>
      <option value="شهادة صحية">شهادة صحية</option>
      <option value="السجل تجاري">السجل التجاري</option>
    </select>
  </div>


  <table dir="rtl">
    <tr>
      <th class="color-had">اسم المنصة</th>
      <th class="color-had">نوع المنصة</th>
      <th class="color-had">رقم الهاتف</th>
      <th class="color-had">المستندات</th>
      <th class="color-had">قبول</th>
      <th class="color-had">رفض</th>
    </tr>


    <tr *ngFor="let i of arr_userOrd">
      <td>{{i.Platform_type}}</td>
      <td>{{i.Platform_name}}</td>
      <td>{{i.Platform_num}}</td>
      <td [style.color]="i.Documents == 'شهادة صحية' ? 'green' : 'red' ">{{i.Documents}}</td>
      <td><a (click)="openModal(content)"><i class="bi bi-check2-square" style="cursor: pointer;"></i></a></td>
      <td><a (click)="openModal(contentx)"><i class="bi bi-x-square" style="cursor: pointer;"></i></a></td>

    </tr>
    <!-- اول صف-->

  </table>
<!-- الموافقة -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">تم قبول طلب العميل</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">


    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark ed_btn" (click)="modal.close('Save click')">حفظ</button>
    </div>
  </ng-template>

<!-- الرفض -->
  <ng-template #contentx let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">سبب الرفض</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <input class="input_err" type="text" id="input_err" placeholder="ادخل سبب الرفض" dir="rtl">

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark ed_btn" (click)="modal.close('Save click')">حفظ</button>
    </div>
  </ng-template>

</div>
