h2{
  text-align: center;
  font-size: xx-large;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;


}
input{
  border: 0;
}

i{
  font-size: 30px;
}

.color-had{
  background: var(--secondary);
}

i{
color: var(--icons);
}

table,th,td{
  border: 5px solid var(--bg-base);
}

th,td
{
  padding: 10px;
  text-align: center;
  background: var(--third);
  

}



