<div class="container mt-4">

  <h2> طلب تغيير المستندات الرسمية </h2>

  <table dir="rtl">
    <tr>
      <th class="color-had">اسم المنصة</th>
      <th class="color-had">نوع المنصة</th>
      <th class="color-had">رقم الهاتف</th>
      <th class="color-had">المستندات</th>
      <th class="color-had">قبول</th>
      <th class="color-had">رفض</th>
    </tr>

    <tr>
      <td> <input type="text" placeholder="اكتب هنا"></td>
      <td> <input type="text" placeholder="اكتب هنا"></td>
      <td> <input type="text" placeholder="اكتب هنا"></td>
      <td> <input type="text" placeholder="اكتب هنا"></td>
      <td><i class="bi bi-check2-square"></i></td>
      <td><i class="bi bi-x-square"></i></td>
    </tr>
    <!-- اول صف-->

    <tr>
      <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td><i class="bi bi-check2-square"></i></td>
    <td><i class="bi bi-x-square"></i></td>
  </tr>
  <!--  ثاني صف-->

  <tr>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td><i class="bi bi-check2-square"></i></td>
    <td><i class="bi bi-x-square"></i></td>
  </tr>
  <!-- ثالث صف -->

  <tr>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td> <input type="text" placeholder="اكتب هنا"></td>
    <td><i class="bi bi-check2-square"></i></td>
    <td><i class="bi bi-x-square"></i></td>
  </tr>
  <!-- رابع صف -->
</table>

</div>
