<div class="container mt-4">

  <h2> طلب تغيير المستندات الرسمية </h2>


  <div class="search-container">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="ابحث عن اسم المنصة....." dir="rtl">
    <select  class="typ_status" (change)="filter_by_type($event.target.value)">
      <option value="">اختر نوع المستندت</option>
      <option value="">الكل</option>
      <option value="4">شهادة صحية</option>
      <option value="3">السجل التجاري</option>
    </select>
<!--
    <select  class="typ_status" (change)="filter_by_type($event.target.value)">
      <option value="">اختر نوع المستندت</option>
      <option value="">الكل</option>
      <option value="4">شهادة صحية</option>
      <option value="3">السجل التجاري</option>
    </select> -->
  </div>





  <table dir="rtl">
    <tr>
      <th class="color-had">اسم المنصة</th>
      <th class="color-had">نوع المنصة</th>
      <th class="color-had">رقم الهاتف</th>
      <th class="color-had">نوع المستندت</th>
      <th class="color-had">المستند</th>
      <th class="color-had">قبول</th>
      <th class="color-had">رفض</th>
    </tr>


    <tr *ngFor="let i of updateDemount">
      <td>{{i.company_name}}</td>
      <td>{{i.user_type_id == 1 ? 'مطعم' : 'جمعية'}}</td>
      <td>{{i.phone}}</td>
      <td [style.color]="i.file_type_id == '4' ? 'green' : 'red' ">{{i.file_type_id == 4 ? 'شهادة الصحية' : 'السجل تجاري'}}</td>

      <!-- <td><i class="bi bi-filetype-pdf" style="cursor: pointer;"></i></td> -->
      <td>
        <p *ngIf="i.file" >افتح الملف
          <a [href]="i.file" target="_blank">&nbsp;المستند&nbsp;</a>.
        </td>
      <td><a (click)="approveStatus(i)"><i class="bi bi-check2-square" style="cursor: pointer;"></i></a></td>
      <td><a (click)="rejectStatus(i)"><i class="bi bi-x-square" style="cursor: pointer;"></i></a></td>

    </tr>
    <!-- اول صف-->

  </table>

</div>
