

.profile-button {
  background:var(--secondary);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #384F3F
}

button:hover {
  background: #384F3F
}


.profile-button:active {
  background: #384F3F;
  box-shadow: none
}

.back:hover {
  color: #384F3F;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #384F3F;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}
.container{
  margin-top: 50px;
  padding-top: 10px;
}
input{
  border: none;
}
button{
  background-color: var(--secondary);
  margin-top: 5px;
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
