<div style="margin-top: 5px; padding-top: 2px;">

  <div class="container rounded  mt-5 mb-5   " style="direction: rtl;background-color: #f8f7f5aa;" >
    <div class="row">
      <div style="justify-content: center;align-items: center ;display: flex; padding:20px ;"><h4 >اهلا بك</h4></div>

        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right"> معلومات الحساب</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">اسم المسؤول الثلاثي</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">اسم المطعم</label><input type="text" class="form-control" value="" placeholder="surname"></div>

                </div>
                <form action="">
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels"> رقم الهاتف</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels"> الايميل</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                    <div class="col-md-12"><label class="labels">  </label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">رقم الحساب البنكي</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">صورة المطعم</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">صورة المسؤول </label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels"> صورة شعار المطعم</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">وصف المطعم</label><input type="text" class="form-control" placeholder="education" value=""></div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">الموقع </label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">وصف الموقع</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">حفظ التغييرات </button></div>
              </form>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><h4>تغيير الاوراق الرسمية</h4></div><br>
                <button style='font-size:14px'><i class="bi bi-upload" (click)="openModal(ubdat_paper)"></i>  السجل  التجاري  </button><br>
                <button class="normel-button" (click)="openModal(newcard)">اضافة بطاقة جديدة</button>



<!-- ---------------------- -->
<ng-template #ubdat_paper let-modal>
  <style>
    .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
  </style>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">sss</button>
  </div>
  <div class="modal-body" style="direction: rtl;">

<div class="col-md-12"><label class="labels">السجل التجاري</label><input type="file" class="form-control" placeholder="" value=""></div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" > حسنا</button>
  </div>
</ng-template>
<!-- ---------------- -->



                <ng-template #newcard let-modal >
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">معلومات الدفع</h4>
                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                  </div>
                  <div class="modal-body" style="direction: rtl;">

                    <label for="cname">اسم صاحب البطاقة</label>
                    <input type="text" id="cname" name="cardname" placeholder="Ahmed abdullatif">
                    <label for="ccnum">رقم البطاقة</label>
                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" >
                    <label for="expmonth">تاريخ الانتهاء</label>
                    <input type="text" id="expmonth" name="expmonth" placeholder="9/12">
                    <div class="row">
                      <!-- <div class="col-50">
                        <label for="expyear">Exp Year</label>
                        <input type="text" id="expyear" name="expyear" placeholder="2018">
                      </div> -->
                      <div class="col-50">
                        <label for="cvv">CVV</label>
                        <input type="text" id="cvv" name="cvv" placeholder="352">
                      </div>
                    </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">حفظ</button>
                  </div>
                </ng-template>


                <!-- <div class="col-md-12"><label class="labels">الشهادة الصحية</label><input type="file" class="form-control" placeholder="" value=""></div> <br>
                <div class="col-md-12"><label class="labels">السجل التجاري</label><input type="file" class="form-control" placeholder="" value=""></div> -->
            </div>
           <div>

            <h4>رصيد المحفظة <span  ><p><input type="text" value="5000"  id="amount" readonly  style="padding: 10px; border-radius: 5px;"></p></span></h4>
            <button style='font-size:14px'><i class="bi bi-wallet2"></i> سحب الرصيد</button>

           </div>
        </div>


    </div>

  </div>



  </div>
  <!-- <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="file" class="form-control" placeholder="" value=""></div> <br>
  <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="" value=""></div> -->
