h2{
  text-align: center;
  font-size: xx-large;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;


}
input{
  border: 0;
  font-size: xx-large;

}

.color-had{
  background: #9FAE9B;
}

table,th,td{
  border: 1px solid #ddd;
  direction: rtl;
}

th,td
{
  padding: 20px;
  text-align: center;
}



