h2{
  text-align: center;
  font-size: xx-large;
  padding: 20px;
}

i{
  font-size: 30px;
}

.typ_status {
  background-color: var(--third);
  color: var(--icons);
  padding: 10px; /* Adjust padding to match the input */
  border-radius: 5px;
  height: 46px; /* Adjust height to match the input */
  margin: 0 10px 0 0;
  border: none;
}
.filter_des{
  display: flex;
  justify-content: flex-end;
}

.btn {
  background: var(--secondary);
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;


}
input{
  border: 0;
  font-size: xx-large;

}

.color-had{
  background: var(--secondary);
  color: var(--third);
}

table,th,td{
  border: 1px solid var(--table);
  direction: rtl;
}

th,td
{
  padding: 20px;
  text-align: center;
  border: 5px solid var(--bg-base);
  background: var(--third);


}



