<!-- <app-button text="تسجيل" type="btn-danger"></app-button>

<app-input></app-input> -->

<h2 >طلبات انشاء الحساب</h2>

<table dir="rtl">
    <tr>
      <th class="color-had">اسم المنصة</th>
        <th class="color-had">نوع المستخدم</th>
        <th class="color-had">اسم مسؤول المنصة</th>
        <th class="color-had">رقم الهاتف</th>
        <th class="color-had">حالة الطلب</th>
        <th class="color-had">عرض التفاصيل</th>
    </tr>

    <tr>
        <td > <input type="text" placeholder="اكتب هنا"></td>
        <td > <input type="text" placeholder="اكتب هنا"></td>
        <td > <input type="text" placeholder="اكتب هنا"></td>
        <td > <input type="text" placeholder="اكتب هنا"></td>
        <td>

        </td>
        <td><i class="bi bi-eye"></i></td>
    </tr>
            <!-- اول صف-->

    <tr>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>

        <td>

        </td>
        <td><i class="bi bi-eye"></i></td>
    </tr>
    <!--  ثاني صف-->

    <tr>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>

        <td>

        </td>
        <td><i class="bi bi-eye"></i></td>
    </tr>
    <!-- ثالث صف -->

    <tr>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>
      <td > <input type="text" placeholder="اكتب هنا"></td>

        <td>

        </td>
        <td><i class="bi bi-eye"></i></td>
    </tr>
    <!-- رابع صف -->
</table>


