

.profile-button {
  background:var(--secondary);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #384F3F
}

.profile-button:focus {
  background:#384F3F;
  box-shadow: none
}

.profile-button:active {
  background: #384F3F;
  box-shadow: none
}

.back:hover {
  color: #384F3F;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #384F3F;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}
.container{
  margin-top: 50px;
  padding-top: 10px;
}
input{
  border: none;
}
