<div class="container">

    <div class="logo">اهلا بك </div>
    <div class="about">d</div>
    <div class="ubdat">d</div>
   
<input type="text" disabled>
</div>
<div class="main">
    <h2>IDENTITY</h2>
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <table>
                <tbody>
                    <tr>
                        <td>اسم مسؤول المطعم</td>
                        <td>:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>صورة مسؤول المطعم</td>
                        <td>:</td>
                        <td><input type="file"></td>
                    </tr>
                    <tr>
                        <td>رقم الهاتف </td>
                        <td>:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>الايميل</td>
                        <td>:</td>
                        <td><input type="email"></td>
                    </tr>
                    <tr>
                        <td>اسم المطعم </td>
                        <td>:</td>
                        <td><input type="text"></td>
                    </tr>

                    <tr>
                        <td>وصف المطعم</td>
                        <td>:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>صورة المطعم </td>
                        <td>:</td>
                        <td><input type="file"></td>
                    </tr>
                    <tr>
                        <td>الموقع</td>
                        <td>:</td>
                        <td><input type="text"></td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
    </div>
    <div>
        محفظتي
    <div class="wallet">
        <P>رصيد المحفظة</P>
2000 SAR
        <i class="bi bi-wallet2"></i>
       
    </div>
    <button>سحب المبلغ</button>

</div>
اضافة اوقات العمل 

    <!-- <i class="bi bi-pen"></i> -->

    <br>
    <br>
    <br>
    <!-- <table>
        <thead>
          <tr>
            <th>رقم الطلب</th>
            <th>السعر الاجمالي</th>
            <th>الكمية الاجمالية</th>
            <th>عدد المنتجات</th>
            <th>حالة الطلب</th>
            <th>اعادة الطلب</th>
            <th>Column 7</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Data 1-2</td>
            <td>Data 1-3</td>
            <td>Data 1-4</td>
            <td>Data 1-5</td>
            <td>Data 1-6</td>
            <td>Data 1-7</td>
          </tr>
          </tbody>
      </table>

      <th>اسم المنتج</th>
            <th> الوصف</th>
            <th>الكمية </th>
            <th> السعر</th>
            <th> تاريخ الانتاج</th>
            <th></th> -->