<div style="margin-top: 5px; padding-top: 2px;">

  <div class="container rounded  mt-5 mb-5   " style="direction: rtl;background-color: #f8f7f5aa;" >
    <div class="row">
      <div style="justify-content: center;align-items: center ;display: flex; padding:20px ;"><h4 >اهلا بك</h4></div>

        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right"> معلومات الحساب</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">اسم المسؤول الثلاثي</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">اسم المطعم</label><input type="text" class="form-control" value="" placeholder="surname"></div>

                </div>
                <form action="">
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels"> رقم الهاتف</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels"> الايميل</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                    <!-- <div class="col-md-12"><label class="labels">  </label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">رقم الحساب البنكي</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div> -->
                    <div class="col-md-12"><label class="labels">صورة المطعم</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">صورة المسؤول </label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels"> صورة شعار المطعم</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">وصف المطعم</label><input type="text" class="form-control" placeholder="education" value=""></div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">الموقع </label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">وصف الموقع</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">حفظ التغييرات </button></div>
              </form>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><h4>تغيير الاوراق الرسمية</h4></div><br>
                <button style='font-size:14px'><i class="bi bi-upload" (click)="openModal(ubdat_paper_eco)"></i>  السجل  التجاري  </button><br>

                <button style='font-size:14px'><i class="bi bi-upload" (click)="openModal(ubdat_paper_health)"></i> الشهادة الصحية </button>

                <!-- <div class="col-md-12"><label class="labels">الشهادة الصحية</label><input type="file" class="form-control" placeholder="" value=""></div> <br>
                <div class="col-md-12"><label class="labels">السجل التجاري</label><input type="file" class="form-control" placeholder="" value=""></div> -->
            </div>
           <div>

            <h4>رصيد المحفظة <span  ><p><input type="text" [value]="the_amount"  id="amount" readonly  style="padding: 10px; border-radius: 5px;"></p></span></h4>
            <div *ngIf="the_amount >= 500; else do_this">
              <button style='font-size:14px'  (click)="openModal(withdraw)"   ><i class="bi bi-wallet2">



              </i> سحب الرصيد</button>
            </div>
<ng-template #do_this>
  <button style='font-size:14px'  (click)="openModal(no_withdraw)"   ><i class="bi bi-wallet2">



  </i> سحب الرصيد</button>
</ng-template>


           </div>
           <div>
<br><br>
            <h3>مواعيد العمل </h3>

              <button ><i class="bi bi-calendar-day" >  </i>   اضغط لأضافة مواعيد  العمل    <p style="color: white;">

              </p></button>
           </div>
        </div>

        no_withdraw

        <ng-template #no_withdraw let-modal >
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">   طلب سحب من المحفظة</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body" style="direction: rtl;">

<p style="color: red;">رصيك غير كافي </p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">حفظ</button>
          </div>
        </ng-template>

        <ng-template #withdraw let-modal >
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">   طلب سحب من المحفظة</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body" style="direction: rtl;">

<p>تم ارسال طلبك بنجاح </p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">حفظ</button>
          </div>
        </ng-template>


        <ng-template #ubdat_paper_health let-modal >
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> ادخل الشهادة الصحية</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body" style="direction: rtl;">

          <div class="col-md-12"><label class="labels"> الشهادة الصحية</label><input type="file" class="form-control" placeholder="" value=""></div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">حفظ</button>
          </div>
        </ng-template>

        <ng-template #ubdat_paper_eco let-modal >
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> ادخل السجل التجاري </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body" style="direction: rtl;">

          <div class="col-md-12"><label class="labels">السجل التجاري</label><input type="file" class="form-control" placeholder="" value=""></div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">حفظ</button>
          </div>
        </ng-template>



    </div>
  </div>
</div>
  <!-- <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="file" class="form-control" placeholder="" value=""></div> <br>
  <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="" value=""></div> -->
