<div class="header">
  <a routerLink="./admin-home/dash-list" class="header-right"> <img class="logoImage" src="../../../../assets/________-01.png" alt=" Logo"></a>
  <div class="list">

    <div  class="d-inline-block">
      <button type="button" class="btn " id="dropdownBasic1" >
        <a routerLink="./admin-home/dash-list">الرئيسية</a>
      </button>

    </div>

    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn " id="dropdownBasic1" ngbDropdownToggle>
      طلبات المستخدمين
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="text-right" ngbDropdownItem><a routerLink="./users-orders/new-users-orders"> طلبات انشاء حساب</a> </button>
        <button class="text-right" ngbDropdownItem><a routerLink="./users-orders/wallet-request">طلبات السحب من المحفظة</a></button>
        <button class="text-right" ngbDropdownItem><a routerLink="./users-orders/document-request">طلب تغيير المستندات</a></button>
        <button class="text-right" ngbDropdownItem><a routerLink="./users-orders/tickets">التذكرة</a></button>

      </div>
    </div>

    <div  class="d-inline-block">
      <button type="button" class="btn " id="dropdownBasic1" >
        <a routerLink="./admin-maps/map">الخرائط</a>
      </button>

    </div>


    <div  class="d-inline-block">
      <button type="button" class="btn " id="dropdownBasic1" >
         <a routerLink="./users/user-table">المستخدمين</a>
      </button>

    </div>

    <div  class="d-inline-block">
      <button type="button" class="btn " id="dropdownBasic1" >
         <a routerLink="./all-orders/order-table">الطلبات</a>
      </button>

    </div>


  </div>
  <div class="out">
    <a routerLink="">تسجيل الخروج</a>
  </div>
</div>
