<div class="container mt-4">


  <h2>الطلبات</h2>

  <div class="search-container">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="ابحث عن اسم المنصة....." dir="rtl">
    <select *ngFor="let i of arr_list" class="typ_status" name="" id="">
      <option value="">اختر حالة الطلب</option>
      <option value="1">{{i.all}}</option>
      <option value="2">{{i.Delivered}}</option>
      <option value="3">{{i.Deleted}}</option>
      <option value="4">{{i.Expired}}</option>
    </select>
  </div>

  <table dir="rtl">
    <tr>
      <th class="color-had">اسم المطعم</th>
      <th class="color-had">السعر الاجمالي</th>
      <th class="color-had">الكمية الاجمالية</th>
      <th class="color-had">عدد المنتجات</th>
      <th class="color-had">حالة الطلب</th>
      <th class="color-had">عرض الطلب</th>
    </tr>

    <tr *ngFor="let i of arr_allOrder">
      <td>{{i.rest_name}}</td>
      <td>{{i.total_price}}</td>
      <td>{{i.total_quantity}}</td>
      <td>{{i.Num_products}}</td>
      <td>{{i.Order_status}}</td>
      <!-- <td>منتهي الصلاحية </td> -->
      <td><a (click)="openModal(content)"><i class="bi bi-eye" style="cursor:pointer;"></i></a></td>
    </tr>

  </table>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="title" id="modal-basic-title">معلومات الطلب</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="container mt-6" dir="rtl">

                <h2>تفاصيل الطلب</h2>
                <table dir="rtl">
                  <tr>
                    <th class="color-had">اسم المنتج</th>
                    <th class="color-had">الكمية </th>
                    <th class="color-had">السعر</th>
                    <th class="color-had">تاريخ الانتاج </th>
                    <th class="color-had">تاريخ الانتهاء </th>
                    <th class="color-had">صورة المنتج</th>
                  </tr>

                  <tr *ngFor="let i of arr_detils">
                    <td>{{i.ord_name}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.pord_date}}</td>
                    <td> {{i.exp_date}}</td>
                    <td>
                      <div class="order_image">
                        <i [class]="i.order_image"></i>
                      </div>
                    </td>

                  </tr>

                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">حفظ</button>
  </div>
</ng-template>




<!-- اول صف-->

<!-- <tr>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td>محذوف</td>
    <td><i class="bi bi-eye"></i></td>
  </tr>

   ثاني صف

  <tr>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td>تم التوصيل</td>
    <td><i class="bi bi-eye"></i></td>
  </tr>
  ثالث صف

  <tr>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td> <input type="text"></td>
    <td></td>
    <td><i class="bi bi-eye"></i></td>
  </tr>
  رابع صف -->
