@import url('./assets/css/typofraph.scss');

@import "~bootstrap-icons/font/bootstrap-icons.css";



:root {
  --bg-base: #F4EFE9;
  --text: rgb(0, 0, 0);
  --text-light: rgb(0, 0, 0);
  --font-family:"IBM Plex Sans Arabic",sans-serif;
  --secondary :#9FAE9B;
}

*,body , html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family) !important;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
